<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56766277518-v1racou77up06q13hjijuqnrlbvppn9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56766277518-v1racou77up06q13hjijuqnrlbvppn9h</string>
	<key>API_KEY</key>
	<string>AIzaSyA8JwrezcbpbansI2cW-Ramjs1WXGRW8Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>56766277518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hackercidadao.ATT</string>
	<key>PROJECT_ID</key>
	<string>hackercidadao-96202</string>
	<key>STORAGE_BUCKET</key>
	<string>hackercidadao-96202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56766277518:ios:979d9817cd499e29e2a6df</string>
	<key>DATABASE_URL</key>
	<string>https://hackercidadao-96202.firebaseio.com</string>
</dict>
</plist>